# https://www.mongodb.com/
DATABASE_URL="MONGODB_URI"

# https://discord.com/developers/applications
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_CLIENT_TOKEN=""

# https://next-auth.js.org/configuration/options
NEXTAUTH_URL="your domain or localhost"
NEXTAUTH_SECRET="you can run 'openssl rand -base64 32' to generate a secret"

# https://uploadthing.com/dashboard
UPLOADTHING_TOKEN='your uploadthing token'